*{
    box-sizing: border-box;
}
.container{
    width:1300px;
    margin-top: 100px;
    height: 500px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* flex-flow: column; */
}
.form-section{
    box-shadow: 0 0 5px 0 rgb(141, 141, 190);
    /* margin: 20px; */
    width: 400px;
    height: 500px;
}
.form-section form{
    border: none;
}
.form-section h1{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 30px;
}
.form-input{
    position: relative;
    padding-bottom: 30px;
    margin-left: 60px;
}
.form-input label{
    display: block;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 15px;
}
.form-input input{
    width: 80%;
    height: 30px;
}
.form-button button{
    font-size: 15px;
    width: 68%;
    height: 30px;
    margin-left: 60px;
    background-color: rgb(20, 78, 145);    
    color: aliceblue;
    border: none;
    border-radius: 5px;
}




/* login section */
.login{
    width: 30%;
    height: 350px;
    /* margin-left: 200px; */
    background-color: blue;
}
.form-1 h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.form-1 label{
    display: block;
    padding-bottom: 10px;
}
.facebook .span{
    /* cursor: pointer; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: block;
}
.login-button button{
    border: none;
    background-color: rgb(13, 92, 211);
    color: aliceblue;
    border-radius: 10px;
    width: 70%;
    height: 25px;
    margin-top: 40px;
}
.facebook p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.log-icon{
    display: flex;
    /* text-align: center; */
}
.log-icon a{
    text-decoration: none;
    /* list-style-type: none; */

}
.log-icon li{
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
}
.log-icon a i{
    border-radius: 50%;
    background-color: blue;
    color: aliceblue;
    width: 200px;
    height: 50px;
}