*{
    box-sizing: border-box;
}
.container{
    width:1300px;
    margin-top: 100px;
    height: 500px;
    display: flex;
    justify-content: center;
}
.form-section{
    box-shadow: 0 0 5px 0 rgb(141, 141, 190);
    width: 400px;
    height: 500px;
}
.form-section form{
    border: none;
}
.form-section h1{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 30px;
}
.form-input{
    position: relative;
    padding-bottom: 30px;
    margin-left: 60px;
}
.form-input label{
    display: block;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 15px;
}
.form-input input{
    width: 80%;
    height: 30px;
}
.form-button button{
    font-size: 15px;
    width: 68%;
    height: 30px;
    margin-left: 60px;
    background-color: rgb(20, 78, 145);    
    color: aliceblue;
    border: none;
    border-radius: 5px;
}




/* login section */
.container1{
    width:500px;
    margin-top: 100px;
    margin-left: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right,#25aae1,#4481eb,#04befe,#3f86ed);
}
.login{
    width: 30%;
    height: 350px;
    position: relative; 
}
.facebook{
    background-color: aliceblue;
    margin-top: 50px;
    width: 75%;
    height: 400px;

}
.form-1{
    margin-left: 50px;
}
.form-1 h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 50px;
}
.form-1 label{
    display: block;
    padding-bottom: 10px;
    padding-top: 15px;
    font-family: sans-serif;
}
.form-1 input{
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: aliceblue;
}
.form-1 input:focus{
    outline: 0;
}
.lable .suresh{
    position:absolute;
    color: blue;
}
.login-button button{
    border: none;
    background-color: rgb(13, 92, 211);
    color: aliceblue;
    border-radius: 10px;
    width: 80%;
    height: 25px;
    margin-top: 40px;
}
.facebook p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-right: 50px;
}
.log-icon{
    display: flex;
    justify-content: center;
    margin-right: 50px;

}
.log-icon a{
    text-decoration: none;
}
.log-icon li{
    list-style-type: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 10px; 
    border-radius: 50%;
    /* padding-left:10px; */
    background-color: blue;
    width: 10%;
    height: 30px;
}
.log-icon li i{
    color: aliceblue;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}



/* calculator */

.container2{
    width: 500px;
    margin: 40px auto;
    margin-top: 200px;
    box-sizing: border-box;
    box-shadow: 10px red;
}
.simeon{
    width: 60%;
    height: 40px;
}
.oprators{
    display: flex;
    /* padding-right: 50px; */
}
.oprators div{
    padding-right: 60px;
    padding-left: 15px;
    padding-top: 20px;
}
.numbers{
    display: flex;
}




/* naga page */

.container3{
    width: 500px;
    height: 300px;
    margin-top: 150px;
}
.india-logo{
    margin-left: 400px;
    display: flex;
}
.india-logo .i{
    color: linear-gradient(right,#25aae1,#4481eb,#04befe,#3f86ed);
    width: 60%;
    height: 40px;
}
.india-logo a{
    text-decoration: none;
    width: 50%;
}